[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mstknk
[access "refs/for/refs/*"]
	read = group user/mstknk
	push = group user/mstknk
	label-Code-Review = -2..+2 group user/mstknk
	label-Verified = -1..+1 group user/mstknk
	rebase = group user/mstknk
	removeReviewer = group user/mstknk
	submit = group user/mstknk
[access "refs/heads/*"]
	read = group user/mstknk
	create = group user/mstknk
	push = +force group user/mstknk
	pushMerge = group user/mstknk
[access "refs/tags/*"]
	push = +force group user/mstknk
	pushTag = group user/mstknk
	pushSignedTag = group user/mstknk
